<!DOCTYPE html>
<html>

<head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.1.4/tailwind.min.css"
          integrity="sha512-..." rel="stylesheet" />
    <style>
        table,
        th,
        tr {
            border: 1px dotted black;
        }

        @media print {
            .page-break-before {
                page-break-before: always;
            }

            .page-break-after {
                page-break-after: always;
            }
        }

        hr {
            border: none;
            border-top: 1px solid black;
            width: 25%;
        }

        table,
        td,
        tr {
            border: 1px solid black;
        }

        p {
            text-align: justify;
        }

        body {
            font-family: "Calibri", sans-serif;
        }

        .main-table {
            width: 100%;
        }

        .footer,
        .footer-space {
            height: 100px;
        }

        .footer {
            position: fixed;
            bottom: 0;
        }

        .main-table,
        .main-table-body,
        .main-table-row,
        .main-table-td,
        .footer-space,
        .footer {
            border: none;
        }
    </style>
</head>

<body class="bg-white">
<table class="main-table">
    <tbody class="main-table-body">
    <tr class="main-table-row">
        <td class="main-table-td">
            <div class="p-4 text-xs" style="font-size: 9px;" th:fragment="content(templateData)">
                <div class="max-w-screen-sm print:max-w-full print:p-0 print:pt-2 page-break-before">


                    <div class="grid grid-cols-3 w-full">
                        <div style="width: 16rem;">
                                    <span class="flex"> <input type="checkbox"> <span class="ml-1 font-bold">Kotak Group
                                            Assure
                                            (UIN:107N051V03)</span></span>
                            <span class="flex"> <input type="checkbox" checked="checked"> <span class="ml-1 font-bold">Kotak
                                            Complete Cover Group
                                            Plan (UIN:107N018V06)</span></span>
                        </div>
                        <div class="ml-12">
                            <div style="width: 16rem;">
                                        <span class="flex"> <input type="checkbox" checked="checked"> <span class="ml-1 font-bold">Kotak
                                                Group Shield
                                                (UIN:107N050V04)</span></span>
                                <span class="flex"> <input type="checkbox"> <span class="ml-1 font-bold">Kotak
                                                Credit Term Group
                                                (UIN:107N006V04)</span></span>
                            </div>
                        </div>
<!--                        <div class="ml-20">-->
                            <div class="flex" style="width: 17rem; justify-content: flex-end">
                                          <img src="data:image/png;base64,QTE6zqygCioAioAgoAoqAIpCVCPw/4PcwISVRDooAAAAASUVORK5CYII="
                                               width="150" height="100" alt="logo">
                            </div>
<!--                        </div>-->
                    </div>
                    <p class="font-bold text-center">Membership Form cum Declaration of Good Health</p>
                    <p class="absolute  font-bold flex"
                       style="width: 44rem; border: 1px solid black; font-size: 8px;">IMPORTANT
                        NOTE : Any additional text written or qualification given in the form would make it
                        invalid.</p>
                    <br>
                    <div class="grid grid-cols-2 w-full font-bold">
                        <span>Name of the Policyholder: <span class="underline">SARVAGRAM FINCARE PRIVATE LIMITED</span> </span>
                        <span>Policy Number: <span class="underline">CD000053 & CD000054, GS000428</span> </span>
                    </div>

                    <p class="absolute  font-bold flex"
                       style="width: 44rem; background-color: red; color: white;">
                        PLAN DETAILS:
                    </p><br>
                    <div class="grid grid-cols-4 w-full font-bold">
                        <span>Sum Assured(₹) : <span class="underline"><span th:text="${templateData?.amount}"></span></span> </span>
                        <span>Premium(₹) : <span class="underline"><span th:text="${templateData?.insuranceAmount}"></span></span> </span>
                        <span>Cover Term : <span class="underline">1Yr,10Yrs</span> </span>
                        <span>Plan Option : <span class="underline">Life Cover, Easy Group Shield</span> </span>
                    </div>

                    <div class="flex w-full">
                                <span class="font-bold" style="width: 5rem;">Premium Payment
                                    Term:</span>
                        <span class="flex ml-1">
                                    <input type="checkbox" checked="checked"> <span class="mt-2">Singly Pay</span>
                                </span>
                        <span class="flex ml-1">
                                    <input type="checkbox"> <span class="mt-2">Limited Pay</span>
                                </span>
                        <span class="flex ml-1">
                                    <input type="checkbox"> <span class="mt-2">Regular
                                        Premium</span>
                                </span>

                        <span class="font-bold ml-4" style="width: 5rem;">Premium Payment
                                    Mode:</span>
                        <span class="flex ml-1">
                                    <input type="checkbox" checked="checked"> <span class="mt-2">Single</span>
                                </span>
                        <span class="flex ml-2">
                                    <input type="checkbox"> <span class="mt-2">Yearly</span>
                                </span>
                        <span class="flex ml-2">
                                    <input type="checkbox"> <span class="mt-2">HalfYearly</span>
                                </span>
                        <span class="flex ml-2">
                                    <input type="checkbox"> <span class="mt-2">Quarterly</span>
                                </span>
                        <span class="flex ml-2">
                                    <input type="checkbox"> <span class="mt-2">Monthly</span>
                                </span>
                    </div>

                    <div class="flex w-full">
                        <span class="font-bold mt-1">Cover Type:</span>
                        <span class="flex ml-1">
                                    <input type="checkbox" checked="checked"> <span class="mt-1 ml-1">Single Life</span>
                                </span>
                        <span class="flex ml-1">
                                    <input type="checkbox"> <span class="mt-1 ml-1">Joint Life</span>
                                </span>
                        <span class="ml-4 font-bold mt-1">Interest Rate: 20% - 30% </span>
                        <span class="font-bold mt-1 ml-2">Benefit Multiplier :</span>
                        <span class="flex ml-1">
                                    <input type="checkbox" checked="checked"> <span class="mt-1 ml-1">100%</span>
                                </span>
                        <span class="flex ml-1">
                                    <input type="checkbox"> <span class="mt-1 ml-1">110%</span>
                                </span>
                        <span class="flex ml-1">
                                    <input type="checkbox"> <span class="mt-1 ml-1">120%</span>
                                </span>

                        <span class="font-bold mt-1 ml-2">
                                    Moratorium Period : NA
                                </span>
                    </div>

                    <p class="absolute  font-bold flex"
                       style="width: 44rem; background-color: red; color: white;">
                        LIFE ASSURED'S DETAILS:
                    </p><br>
                    <div class="flex w-full font-bold">
                                <span>Loan Account No. :<span class="underline"
                                                              th:text="${templateData?.lan}"></span> </span>
                        <span class="ml-auto">Customer ID :<span class="underline"
                                                                 th:text="${templateData?.applicantId}"></span> </span>
                    </div>
                    <div class="flex w-full font-bold">
                                <span>Member Name: Mr. / Ms. :<span class="underline"
                                                                    th:text="${templateData?.applicantName}"></span>
                                </span>
                        <span class="ml-auto">Date of Birth : <span class="underline" th:text="${templateData?.dob}"></span></span>
                    </div>
                    <div class="flex w-full font-bold">
                                <span>Address :<span class="underline"
                                                     th:text="${templateData?.applicantAddress}"></span> </span>
                        <span class="ml-auto flex">Gender :
                                    <span class="flex ml-3">
                                        <input type="checkbox" th:checked="${templateData?.gender.toLowerCase() == 'male'}"> <span class="mt-1 ml-1">M</span>
                                    </span>
                                    <span class="flex ml-3">
                                        <input type="checkbox"th:checked="${templateData?.gender.toLowerCase() == 'female'}"> <span class="mt-1 ml-1">F</span>
                                    </span>

                                </span> </span>
                    </div>
                    <span class="font-bold flex">
                                <span>Name of Joint Life Insured (if any): Mr. / Ms</span>
                                <span class="underline ml-2"></span>
                            </span>

                    <div class="grid grid-cols-3 w-full font-bold">
                                <span>
                                    Date of Birth :
                                </span>
                        <span class="ml-auto flex">Gender :
                                    <span class="flex ml-3">
                                        <input type="checkbox" > <span class="mt-1 ml-1">M</span>
                                    </span>
                                    <span class="flex ml-3">
                                        <input type="checkbox" > <span class="mt-1 ml-1">F</span>
                                    </span>

                                </span>

                        <span class="ml-4">
                                    Relationship with Member:<span></span>
                                </span>
                    </div>

                    <div>
                        <p class="absolute  font-bold flex" style="width: 44rem; background-color: red; color: white;">
                            NOMINEE DETAILS <span style="font-size: 7px;">&nbsp; (needs to be a major i.e. above 18
                                    years of age and
                                    should be one of the following: Husband, Wife, Son, Daughter, Father, Mother,
                                    Brother, Sister,
                                    Grandfather or Grandmother)</span>
                        </p>
                    </div>
                    <div>&nbsp;<br><br></div>
                    <div>
                        <div class="font-bold grid w-full font-bold">
                            <span>Name: <span class="underline" th:text="${templateData?.nomineeName}"></span></span>
                        </div>
                        <div class="font-bold grid w-full font-bold">
                            <span>Relationship to Life to be Insured :<span class="underline" th:text="${templateData?.nomineeRelation}"></span></span>
                        </div>
                        <p>*Incase of Nominee being a Proprietor/Partnership Firm/Limited Company the above
                            condition would not
                            apply</p>
                        <span class="flex">
                                    <input type="checkbox" checked="checked" />
                                    <span class="ml-1">Do your bit for green world & Switch to e-communication. Kindly
                                        (✔) if you would
                                        like to receive your communication only through electronic mode
                                    </span>
                        </span>
                    </div>

                    <p class="absolute  font-bold flex"
                       style="width: 44rem; background-color: red; color: white;">
                        DECLARATION OF GOOD HEALTH
                    </p><br>
                    <div style="width: 44rem;">
                        I hereby declare that :<br>
                        1. I am in good health and perform all my routine activities independently<br>
                        2. I have never had any physical defect, deformity or disability (means inability to
                        function normally,
                        physically or mentally) affecting my day to day activities.<br>
                        3. I have never undergone nor have I been advised to undergo any major surgical
                        procedure.<br>
                        4. I have never suffered and am not currently suffering from:<br>
                        <div class="ml-2">
                            a. High Blood Pressure, Heart Attack or any other Heart Disease. <span class="ml-4">
                                        b. Stroke,
                                        Paralysis in any form,
                                        or any other Cerebrovascular Disease;</span><br>
                            c. Diabetes or any other Endocrinal Disease, Kidney Disease; <span class="ml-8">d.
                                        Any Chronic Liver
                                        Disease or any
                                        Cancer or Cancerous growth;</span><br>
                            e. Any Lung Disease (eg. Chronic Obstructive Pulmonary Diseases,TB,Parenchymal lung
                            Disease,
                            Pulmonary Embolism etc).<br>
                            f. Blood Disorders, Gastro-Intestinal Diseases, or any other disorder of the bones,
                            spine or
                            muscle;<br>
                            g. Any Mental or Psychiatric condition, Epilepsy, any Genetic Disease or any disease
                            related to
                            central nervous system (disease related to brain);<br>
                            h. HIV / AIDS or AIDS related complications.<br>
                        </div>
                        5. In the last 2 years, I have not -<br>
                        <div class="ml-2">
                            a) Have a reduction in weight (of more than 10 kgs) <span class="ml-4">b) been
                                        continuously
                                        hospitalised for more than 7 days (other than fractures of leg or
                                        arm).<br></span>
                            c) undergone any investigations (including basic radiological and blood tests) other
                            than normal
                            Health
                            Check-ups and Insurance Medicals, or<br>
                            d) had adverse result for any blood tests, X-Rays, ECG, Stress Test, Biopsies, CT
                            Scan, MRI,
                            Ultrasonography or 2D / 3D Echo etc.<br>
                        </div>

                        6. I do not engage or intend to engage in any business, sport or occupation or any hobby
                        of a hazardous
                        nature<br>
                        7. For Females Lives Only: -<br>
                        <div class="ml-2">
                            a) I am currently not pregnant. I am not suffering from or nor have suffered from
                            any complication
                            of
                            pregnancy.<br>
                            b) I am not suffering from or nor have suffered from any diseases of breast/ uterus/
                            cervix?<br>
                        </div>
                        <strong class="italic" style="font-size: 12px;">Following questions are applicable ONLY
                            when "Critical
                            Illness Cover/Disability Cover" are
                            opted</strong><br>
                        8. I have not had any proposal and / or policy for life, health, accident or critical
                        illness, including
                        renewals / revivals therefor, declined or deferred by any insurance company in India or
                        Overseas. I do
                        not
                        engage or intend to engage in any business, sport or occupation or any hobby of a
                        hazardous nature.<br>
                        9. I have never been diagnosed with any form of internal or external congenital anomaly
                        or defect. i.e.
                        any condition(s) which is present since birth, and which is abnormal with reference to
                        form,
                        structure or position.
                    </div>
                    <div class="page-break-before"></div>
                    <p class="absolute  font-bold flex"
                       style="width: 44rem; background-color: red; color: white;">
                        DECLARATION BY THE MEMBER
                    </p><br>
                    <p style="width: 44rem; text-align: justify; padding: 0px;">I further declare that the above
                        statements are true
                        and complete in every respect related to my health
                        and will form the basis of granting insurance cover to me,from Kotak Mahindra Life
                        Insurance
                        Company Ltd."[KLI]".I further hereby agree and give my consent to, the Policyholder for
                        use of the
                        contents of this declaration by KLI for examining and processing any claim arising, in
                        respect of the
                        insurance cover that may be provided to me under the referred group policy.I hereby
                        confirm that my
                        intent to participate in the above plan for the Policyholder's customers is purely on a
                        voluntary
                        basis,I
                        confirm and I confirm and agree that the insurance cover,if provided, will be governed
                        by the provisions
                        of the Insurance Act,1938 and the Policy Contract under which the cover will be offered
                        to me.I
                        agree and understand that if I contract any of the above diseases between submitting
                        this document and
                        the date of commencement of the cover, I shall not be covered under the policy.I have
                        also not
                        withheld any material information or suppressed any fact. I undertake to notify KLI('The
                        Company') of
                        any change in my state of health or occupation or any decisions subsequent to the
                        signing of this
                        declaration form and before the acceptance of the risk by the Company. I understand and
                        agree that if
                        any untrue statement be contained herein, I, my heirs, executors, administrators or
                        assignees shall
                        not be entitled to receive any benefits which may be provided to me on the faith of this
                        declaration,
                        including, inter alia the aforesaid insurance cover.I understand and acknowledge that
                        insurance cover
                        shall be as per terms and conditions detailed in the Policy Contract issued by KLI in
                        favour of the
                        policyholder and that KLI's decision in respect of all aspects of the referred group
                        life insurance plan
                        shall
                        be final & binding. I hereby agree to and authorize the Policyholder/my
                        Doctor/Hospital/Local, State,
                        Central authority/Dealer/Distributor/my Employer to divulge or convey any information or
                        particulars
                        relevant to this Form/my admission into the referred Group Insurance Policy to KLI at
                        any point during
                        the continuance of my cover hereunder including any claim under the said Policy. I also
                        permit KLI to
                        approach me directly for any clarification related to this proposal and resulting policy
                        I further agree
                        that in case of fraud/misrepresentation by me, the Policy will be treated in accordance
                        with the Section
                        45 of the Insurance Act,1938 and amendments there to from time to time.</p>

                    <div class="font-bold grid grid-cols-3 w-full font-bold">
                        <span>Place: <span class="underline ml-1" th:text="${templateData?.branchName}"></span> </span>
                        <span style="margin-left: -3rem;">Date: <span class="underline ml-1"></span> </span>
                        <span style="margin-left: -8rem;">Signature/Right Thumb impressions of life to insured:
                                    <span class="underline ml-1"></span> </span>
                    </div>


                    <p class="absolute  font-bold flex"
                       style="width: 44rem; background-color: red; color: white;">
                        AUTHORISATION OF CLAIM PAYMENT <span style="font-size: 7px;">(applicable only for
                                    Regulated
                                    Entities*)</span>
                    </p><br>
                    <p style="width: 44rem;">I authorise KLI to apply the benefits under this policy, first
                        towards the loan
                        outstanding, by paying
                        the same directly to the Policyholder and the balance, if any, may be paid to myself
                        and/or my
                        nominee/legal heirs, as the case may be. I certify that this authorization is being
                        effected in
                        consideration of a loan obtained from the Policyholder. I further certify that the loan
                        outstanding
                        amount as
                        confirmed by the Policyholder shall be considered as final and binding. I declare that
                        the receipt of
                        the benefits by the Policyholder and/or my nominee/ legal heirs shall be a valid and
                        sufficient
                        discharge
                        of KLI's liabilities with respect to the life cover provided to me.
                        *Regulated Entities shall include: I. (a) Reserve Bank of India ("RBI") regulated
                        Scheduled Banks
                        (including co-operative Banks), (b)NBFCs having Certificate of Registration from RBI or
                        (c)National
                        Housing Bank ("NHB") regulated Housing Finance Companies (d) National Minority
                        Development Finance
                        Corporation (NMDFC) and its State Channelizing Agencies (e) Small Finance Banks
                        regulated by
                        RBI; II. Other Entities shall include the entities other than Regulated Entities.</p>

                    <div class="font-bold grid grid-cols-3 w-full font-bold">
                        <span>Place: <span class="underline ml-1" th:text="${templateData?.branchName}"></span> </span>
                        <span style="margin-left: -3rem;">Date: <span class="underline ml-1"></span> </span>
                        <span style="margin-left: -8rem;">Signature/Right Thumb impressions of life to insured:
                                    <span class="underline ml-1"></span> </span>
                    </div>


                    <p class="absolute  font-bold flex"
                       style="width: 44rem; background-color: red; color: white;">
                        DECLARATION WHERE SCRIBE IS INVOLVED (COMPULSORY FOR ALL DECLARATIONS SIGNED IN ANY
                        VERNACULAR LANGUAGE)
                    </p><br>
                    <p style="width: 44rem;">I <span>NAME</span> (full name of scribe) have explained to the
                        borrower the
                        contents
                        of this form in his
                        own language and he/ she has fully understood the same. Also, I
                        have explained that if any untrue statement is contained herein, the borrower, and/or
                        the heirs,
                        executors, administrators, assignees of the borrower shall not be entitled to receive
                        any benefits,
                        including,
                        inter alia, benefits under any insurance policy procured on the faith of this Form</p>

                    <div class="font-bold grid grid-cols-3 w-full font-bold">
                        <span>Place: <span class="underline ml-1" th:text="${templateData?.branchName}"></span> </span>
                        <span style="margin-left: -3rem;">Date: <span class="underline ml-1"></span> </span>
                        <span style="margin-left: -8rem;">Signature of the Scribe: <span
                                class="underline ml-1"></span> </span>
                    </div>

                    <div class="font-bold grid grid-cols-3 w-full font-bold"
                         style="border-top: 3px solid red; width: 44rem;">
                        <span>Place: <span class="underline ml-1" th:text="${templateData?.branchName}"></span> </span>
                        <span style="margin-left: -4.4rem;">Date: <span class="underline ml-1"></span> </span>
                        <span style="margin-left: -10.5rem;">Witness / Policyholder Authorized Signatory: <span
                                class="underline ml-1"></span> </span>
                    </div>

                    <div style="border-top: 3px solid red; width: 44rem;">
                        <p style="width: 44rem;"><strong>Section 41 of the Insurance Act, 1938 states:</strong>
                            (1) No person
                            shall
                            allow or offer to allow, either directly or indirectly, as an inducement to any
                            person to take or
                            renew
                            or continue an insurance in
                            respect of any kind of risk relating to lives or property in India, any rebate of
                            the whole or part
                            of
                            the commission payable or any rebate of the premium shown on the policy, nor shall
                            any person taking
                            out
                            or renewing or continuing a policy accept any rebate, except such rebate as may be
                            allowed in
                            accordance
                            with the published prospectuses or tables of the insurer: (2) Any person making
                            default in
                            complying with the provisions of this section shall be liable for a penalty which
                            may extend to ten
                            lakh
                            rupees.<br>
                            <strong> Section 45 of the Insurance Act, 1938 States:</strong> The provisions of
                            Section 45 of the
                            Insurance Act, 1938 are applicable in the above contract. Please refer to Section 45
                            either on our
                            website or contact
                            our intermediary or visit the nearest branch for the full text.<br>
                            <strong> Free Look Period :</strong> The member is offered 15 days free look period
                            from the date of
                            receipt of the Certificate of Insurance wherein the Member may choose to return the
                            Certificate of
                            Insurance within 30
                            days of receipt if s/he is not agreeable with any of the terms and conditions of the
                            plan and
                            receive
                            the applicable refund amount
                        </p>
                    </div>

                    <div style="border-top: 3px solid red; width: 44rem;">
                        <p>
                            <strong> Kotak Mahindra Life Insurance Company Ltd. (Formerly known as Kotak
                                Mahindra Old Mutual
                                Life
                                Insurance Ltd.).;</strong> CIN : U66030MH2000PLC128503, Regn. No.: 107, Regd.
                            Office: 2nd Floor,
                            Plot# C-12, G-Block, BKC, Bandra (E),Mumbai- 400 051. Website:
                            http://insurance.kotak.com
                            Email:clientservicedesk@kotak.com. Toll Free No.-1800 209 8800
                        </p>
                        <span class="flex">
                                    <span class="ml-auto font-bold">Ref No.KLI /20-21/Jul-04</span>
                                </span>
                    </div>

                    <div style="border-top: 3px solid red; width: 44rem;">
                        <p class="font-bold" style="text-align: center;">Trade Logo displayed above belongs to
                            Kotak Mahindra
                            Bank
                            Limited and is used by Kotak Mahindra Life Insurance Company Ltd.under license</p>
                    </div>

                </div>

            </div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr class="main-table-row">
        <td class="main-table-td">
            <div class="footer-space"></div>
        </td>
    </tr>
    </tfoot>
</table>
<div class="footer"></div>
</body>

</html>
